<navbar></navbar>
<div class="container mainMargin">
    <div class="panel panel-success">
    	<div class="panel-heading">
    		<h3 class="panel-title">Home Page</h3>
    	</div>
        <div class="panel-body">
		    <div class="resource">
		        <h4>Angular4-Typescript generator</h4>
		        <p>Yeoman generator for scaffold out a front-end project with Angular2 and TypeScript.</p>
		    </div>
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
    
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h3 class="panel-title">Panel default title</h3>
    	</div>
        <div class="panel-body">
        	<p>While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.</p>
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
    
	<div class="well">
		<span>Look, I'm in a well!</span>
	</div>
	
    <div class="panel panel-info">
    	<div class="panel-heading">
    		<h3 class="panel-title">Panel info title</h3>
    	</div>
        <div class="panel-body">
        	<p>While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.</p>
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
        
    <div class="jumbotron">
        <h4>Yeoman</h4>
        <p> I'm in the jumbotron. The web's scaffolding tool for modern webapps.</p>
    </div>
    <br/>
    <div class="jumbotron">
		<div class="row align-items-start" >
			<div class="col-sm-6 col-md-4">
				<span class="glyphicon glyphicon-signal"></span>
				Google Home
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="thumbnail" href="javascript: void(0)" (click)="testGoogleHome()">
					<span class="glyphicon glyphicon-arrow-right"></span>Click Here
				</a>
			</div>
		</div>
		<div class="row" >
			<div class="col-sm-6 col-md-4">
				<span class="glyphicon glyphicon-signal"></span>
				MicroServiceAPI
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="thumbnail" href="javascript: void(0)" (click)="testMicroServiceAPI()">
					<span class="glyphicon glyphicon-arrow-right"></span>Click Here
				</a>
			</div>			
		</div>
		<div class="row" >
			<div class="col-sm-6 col-md-4">
				<span class="glyphicon glyphicon-signal"></span>
				FindOneAPI
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="thumbnail" href="javascript: void(0)" (click)="testFindOneAPI()">
					<span class="glyphicon glyphicon-arrow-right"></span>Click Here
				</a>
			</div>			
		</div>
		<div class="row" >
			<div class="col-sm-6 col-md-4">
				<span class="glyphicon glyphicon-signal"></span>
				testAPI
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="thumbnail" href="javascript: void(0)" (click)="testAPI()">
					<span class="glyphicon glyphicon-arrow-right"></span>Click Here
				</a>
			</div>			
		</div>
	</div>
	
</div>

